<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ArtSpot
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ArtSpot</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div *ngIf="oeuvres; else error">
      <ion-card *ngFor="let oeuvre of oeuvres" [routerLink]="['/show', oeuvre.id]">
          <img [src]="oeuvre.picture" [alt]="oeuvre.name" class="cover">
          <ion-card-header>
              <ion-card-title>
                  {{ oeuvre.name }}
              </ion-card-title>
          </ion-card-header>
      </ion-card>
  </div>
  <ion-button [routerLink]="['/view']">
    Prendre une photo de mon oeuvre
  </ion-button>
  </div>
</ion-content>
